.cabeçalho{
   background-color: rgb(179, 73, 73); /*colocar cor de fundo*/
   display: flex;
   font-size: 100%; /*colocar tamanho da fonte*/
   color: rgb(26, 46, 63); /*colocar cor da fonte*/
   width: 100%; /*colocar largura da janela*/
   height: 100%; /*colocar calcura do espaço */
   text-align: center; /*alinha o texto do titulo*/
   justify-content: space-between; /*colocar espaço entre os objetos do cabeçalho*/
   align-items: center;
   margin: 1cqi; /*alinha os objetos ao centro vertical de espaço*/
}
.logotipo{
   width: 60px;
   padding: 05px;
   margin: 05px;
}
.buttom{
   background-color: rgb(102, 61, 139);
   border-radius: 20%;
   border: none;
   color: crimson;
   padding: 15px 32px;
   text-align: right;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   transition-duration: 0,4s;
   cursor: pointer;
   background-image: linear-gradient(to bottom, #5aa15e #adca5a);
}
.imagens_centro{
text-align: center;



}
body{
   display: block;
   background-color: rgb(150, 97, 97);
}

.buttom{
   width: 100px;
   cursor: pointer;
   border-radius: 10px;
   size-adjust: center;
}